@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(--foreground-rgb));
}

/* Normal Animated Background */
@keyframes moveBackground {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

.animated-background {
  background: linear-gradient(45deg, #a1ffc4, #faffd1, #ffcae9, #b4aee8);
  background-size: 200% 200%;
  animation: moveBackground 15s linear infinite;
}

/* dark Animated Background */
.animated-background-dark {
  background: linear-gradient(45deg, #2b4162, #12100e);
  background-size: 200% 200%;
  animation: moveBackground 12s linear infinite;
}

/* Tailwind CSS dark mode usage */
 .dark .animated-background {
  @apply animated-background-dark;
} 
